.carousel-control-prev {
    margin-left: -45px;
    padding: 0;
    width: 50px;
}

.carousel-control-next {
    margin-right: -45px;
    padding: 0;
    width: 50px;
}

.carousel {
    max-width: 900px;
    margin: auto;
}


.card-img-catalog {
    max-height: 350px;
}

.card-catalog-body {
    min-height: 150px;
}

.card-full {
    max-width: 400px;
}

.header--logo {
    max-width: 140px;
}

.card-body-about {
    min-height: 460px;
}

.novinki {
    text-align: center;
}

.map--about {
    max-width: 700px;
}

.contacts-list {
    font-size: 30px;
}

.footer {
    background-color: #555;
    color: white;
    width: 100%;
    bottom: 0;
    left: 0;
    min-height: 150px;
    position: relative;
    flex: auto;
    margin: 0;
    padding: 0;
    margin-top: 200px;
}

.last-5-name {
    color: white;
    font-size: 34px;
    font-weight: 500;
    text-shadow: 6px 0 6px #000;
}

.header-menu-link {
    font-size: 24px;
    color: black;
}

.catalog-filtr {
    font-size: 24px;
}

.catalog-sort {
    font-size: 24px;
}